.box {
  position: absolute;
  z-index: 100;
  top: 55px;
  display: flex;
  background-color: #2fb3ff;
  color: white;
  flex-direction: column;
  padding: 0;
  width: 100%;
  height: 100px;
  overflow-y: auto;
}
.row {
  display: flex;
}
